{% load staticfiles %}
<html>
    <head>
        <title>Gebyviana's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">
		<a href="{% url 'blog:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <center><h1><a href="{% url 'blog:post_list' %}">Tutorial Memasak by Gebyviana</a></h1></center>
		<a href="/logout/" class="taskbar">Logout</a>
    </div>
    <div class="content container">
        <div class="row">
            <div class>
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>